// Custom CSS Here
.card 
{
    margin-bottom:15px;
}

.settings .input-group-text 
{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.avatar-profile
{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    -webkit-box-flex: 0;
    border-radius: 14px;
    -ms-flex: none;
    flex: none;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    min-height: 210px;
    min-width: 210px;
    max-height: 210px;
    max-width: 210px;
}

.navbar-signout:active
{
    color: #fff !important;
}

.breadcrumb-item
{
    text-transform: lowercase;
}

.breadcrumb-item.active::before
{
    content: ">";
}

hr
{
    border-style:dashed;
}