
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900");
@import "variables";
@import '~bootstrap/scss/bootstrap';
@import "bootswatch";
@import "custom";